# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code settings
.vscode/

# Logs and local files
*.log
*.sqlite3
.DS_Store
*.bak

# Mac/Windows system files
Thumbs.db

# Virtual Environment

venv/


